/*
CSS document: Derrick Jackson
Created: 04/14/2009
Last Modified: 04/14/2009
*/

/* ============ Global Style ===================*/
* {margin: 0; padding: 0;}
html {min-height: 100%;}

body {margin: 15px 0 0 0; font-size: 100%; font-family: Verdana, helvetica, sans-serif; color: #2e2e2e; background-color: rgb(240, 240, 230); font-size: 13px;}
table, th, td {font-family: arial, helvetica, verdana, sans-serif; font-size:100%;}

a:link {color: #2e2e2e; text-decoration: none;}
a:visited {color: #2e2e2e; text-decoration: none;}
a:hover {color: #39f;}
a:active {color: #ff8913;}

a:link.capabilities{
	color: #39f;
	text-decoration:underline
}
	
h1 {font-size: 19px; color: #535353; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; margin: 0 0 14px 0; line-height: 1.2em;}
h2 {font-size: 17px; color: #369; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; margin: 0 0 5px 0px; line-height: 1.3em;}
h3 {font-size: 15px; color: #369; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; margin: 10px 0 10px 0; padding: 0;}
h4 {font-size: 13px; color: #006bb5; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; margin: 0 0 10px 0; padding: 0;}
h5 {font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold;}

p {padding: 0 0 15px 0;}

.required {
	color: red;
}
/* ============ Breadcrumb ============*/
#breadcrumb h4 {font-size: 13px; color: #2e2e2e; font-weight: normal; margin: 5px 0 20px 0; padding: 0;}
#breadcrumb h4 a:link {color: #2e2e2e; text-decoration: underline;}
#breadcrumb h4 a:visited {color: #2e2e2e; text-decoration: underline;}
#breadcrumb h4 a:hover {color: #39f;}
#breadcrumb h4 a:active {color: #2e2e2e;}

/* ============ General Layout Structure ===================*/
#plainLinks tr td a:link {color: #369; text-decoration: none;}
#plainLinks tr td a:visited {color: #369; text-decoration: none;}

#regLinks a:link {color: #369; text-decoration: none;}
#regLinks a:visited {color: #369; text-decoration: none;}

#quoteDataList tr td a:link {color: #369; text-decoration: none;}
#quoteDataList tr td a:visited {color: #369; text-decoration: none;}

.warfighter {
	padding: 0 5px 5px 0;
	font-size: 15px;
	font-weight:bold;
	color: #003466;
}
.wrapper{
	margin:0 auto;
	width:875px;
	border: 1px black solid;
	background-color: #ffffff;
}

#inner {
	float:middle;
	width:875px;
	background:#fff;
}

.accent {
	background: transparent url(images/logo.gif) no-repeat top left
	}
#accent {
	float:left;
	margin-top:0px;
	height:80px;
	width:875px;
}

.footer {
	text-align: center;
	font-size: 11px;
	color: #000;
	height:30px;
}
.footer2 {
	background-color: #369;
}

#footer_address {
	color: #ffffff;
	float:left;
	padding:3px 0px 3px 3px;
	font-size:13px;
	}

#footer_copyright {
	color: #ffffff;
	font-size:13px;
	float:right;
	padding:65px 3px 3px;
	align-right;
}

.newsToggle {
	padding-bottom:5px;
}

/* ============ Home Page Style ===================*/

#home_news {margin: 0 0 50px 0;}
#home_news ul {list-style-type: none; margin: 0 5px 0 0;}
#home_news ul li a {
	font-size: 95%; 
	color: #2e2e2e; 
	text-decoration: none; 
	background: #fff; 
	display: block; 
	border-bottom: 1px solid #e2e2e2; 
	padding: 5px 0 5px -1px; 
	line-height: 1.5em;}


#home_jobs {margin: 0 0 50px 0;}
#home_jobs ul {list-style-type: none; margin: 0 5px 0 0;}
#home_jobs ul li a {
	font-size: 95%; 
	color: #2e2e2e; 
	text-decoration: none; 
	background: #fff; 
	display: block; 
	border-bottom: 1px solid #e2e2e2; 
	padding: 5px 0 5px -15px; 
	line-height: 1.7em;}
#home_jobs .more {padding: 10px 0 0 15px;display: inline; 
	border-bottom: 0px solid #e2e2e2; }
#home_jobs .moreLink {color:#369}

#mro_menu {margin: 0 0 20px 0;}
#mro_menu ul {list-style-type: none; margin: 0 5px 0 0;}
#mro_menu ul li a {
	font-size: 95%; 
	font-weight: bold;
	color: #ffffff; 
	text-decoration: none; 
	background: #6699CC; 
	display: block; 
	/*border-bottom: 1px solid #e2e2e2;*/
	padding: 5px 0 5px -15px; 
	line-height:1.9em;}
#mro_menu ul li ul li a{
	font-size: 95%; 
	font-weight: bold;
	color: #ffffff; 
	text-decoration: none; 
	background: #6699CC; 
	display: block; 
	padding: 5px 0 5px 15px; 
	line-height: 1.0em;}
#mro_menu ul li a:hover {color: #000;}
/*=============== MRO Menu ================= */
#mroMenu h4 {font-size: 13px; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; margin: 0 0 10px 0; padding: 0;}

div.line { /* DIV that wraps and replaces the HR */
background: transparent url(../images/teamMembers/bkgrnd_split.gif) no-repeat center center;
height: 30px;
}
