{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}
{% block extra_css %}
    <!-- Flexslider -->
    <link href="{% static 'plugins/flexslider/flexslider.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/breakingNews.css' %}"/>

    <style type="text/css">
.flex-caption {
  width: 100%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
}
</style>
{% endblock %}

{% block content %}
    {% if not latest_news %}
        <div class="breakingNews" id="latest_news">
            <div class="bn-title"><h2>Latest News</h2><span></span></div>
            <ul>
                <li><a href="#"><span>CNN News</span> - Mauris interdum elit non sapien imperdiet, ac dapibus mi maximus</a></li>
                <li><a href="#"><span>BBC News</span> - Nullam sit amet nisl ex</a></li>
                <li><a href="#"><span>CNN News</span> - Cras lorem augue, facilisis a commodo in, facilisis finibus libero vel ultrices.</a></li>
                <li><a href="#"><span>AOL News</span> - Maecenas imperdiet ante vitae neque facilisis cursus</a></li>
                <li><a href="#"><span>YAHOO News</span> - Maecenas libero ipsum, placerat in mattis vel, tincidunt quis est.</a></li>
                <li><a href="#"><span>BBC News</span> - Curabitur tortor libero, vehicula sagittis luctus sed, lobortis sed arcu</a></li>
            </ul>
            <div class="bn-navi">
                <span></span>
                <span></span>
            </div>
        </div>
    {% endif %}
    <br/>
    <div id="highlighted">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="home">
                        <p>
                            Naval Systems, Inc. (NSI), is a Veteran Owned Small Business supporting the Naval Air Systems
                            Command from locations near Patuxent River, Maryland; Cherry Point, North Carolina;
                            Jacksonville, Florida; and China Lake, California.
                        </p>
                        <p>
                            Our main office is located in Lexington Park, Maryland; just minutes from NAS Patuxent River.
                            NSI has experienced strong growth since our founding and has developed a reputation among
                            clients for superior quality, cost and schedule performance; providing innovative solutions
                            to difficult problems; and demonstrating uncompromising devotion to the ultimate customer:
                            our Navy and Marine Corps warfighters.Content Region With No Sidebars
                        </p>

                        <p>
                            NSI's outstanding value to our customers results from a great depth of knowledge in
                            engineering, logistics, and management disciplines by the leadership team and key employees,
                            a flat management structure with an extremely efficient business model, and many years of
                            cumulative hands-on experience in Naval Aviation operations and depot level support.
                            The NSI culture has been built upon the core values of Quality, Integrity, and Victory.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <section class="flexslider-wrapper container">
                        <div class="flexslider">
                            <div class="slides">
                                <div class="slide">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <img src="{% static 'img/slides/uss_harry_truman.jpg' %}"
                                                 alt="USS Harry S. Truman (CVN 75)" class="animated fadeInDownBig" />
                                            <p class="flex-caption">USS Harry S. Truman (CVN 75)</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="slide">
                                    <div class="row">
                                         <div class="col-sm-6">
                                            <img src="{% static 'img/slides/mh-60.jpg' %}" alt="MH-60S Sea Hawk Helicopter" />
                                            <p class="flex-caption">MH-60S Sea Hawk Helicopter</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="slide">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <img src="{% static 'img/slides/aircraft.jpg' %}" alt="A T-45C Goshawk" />
                                            <p class="flex-caption">A T-45C Goshawk</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <br/>
{% endblock %}
{% block extra_scripts %}
    <script src="{% static 'plugins/flexslider/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'js/breakingNews.js' %}"></script>
    <script>
	    $(document).ready( function(){
            $("#latest_news").breakingNews({
                effect: "slide-v",
                autoplay: true,
                timer: 3000,
                color: 'darkblue',
                border: true
            });
        });
    </script>
{% endblock %}