<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta name="robots" content="index, follow">
		<title>Home</title>
 		<link rel="Shortcut Icon" href="/favicon.ico" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="alternate" type="application/rss+xml" title="RSS" href="/views/newsFeed.rss" />
		
		<link rel="stylesheet" media="screen" href="/css/template.css" />		
		<script type="text/javascript" src="/scripts/jquery/jquery-1.3.2.min.js"></script>
		
		<!--JQuery Menu-->
		<script type="text/javascript" src="/scripts/jquery/jdMenu/jquery.jdMenu.js"></script>
		<link type="text/css" rel="stylesheet" href="/scripts/jquery/jdMenu/jquery.jdMenu.css"  />
		
		<!-- table sorting and paging -->
		<script type="text/javascript" src="/scripts/jquery/tableSorter/jquery.tablesorter.min.js"></script>
		<link rel="stylesheet" href="/scripts/jquery/tableSorter/themes/blue/style.css" type="text/css" media="screen" />
	
		<!--Table Highlighting-->
		<script type="text/javascript" language="javascript" src="/scripts/jquery/colorize/colorize.js" ></script>
		 
		<!--// load the qForm JavaScript API //-->
		<script src="/scripts/qForms/lib/qforms.js"></script>
		<script language="JavaScript">
			qFormAPI.setLibraryPath("/scripts/qForms/lib/");
			qFormAPI.include("validation");
			qFormAPI.include("functions", null, "12");
		</script>
		<!--// [ end ] initialize all extension libraries  //-->
		
		<script type="text/javascript">
		$(document).ready(function() {
			$("#newNavigation").load("/views/layout/new_navigation.html");
			$("#newFooter").load("/views/layout/new_footer.html");
    	});
		</script>
</head>
<body>
	<table class="wrapper" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td valign="middle"><img src="/images/logo.gif"></td>
			<td align="right" valign="middle" class="warfighter">
				<em>Supporting the Warfighter!</em>
			</td>
		</tr>
		<tr>
			<td colspan="4" id="newNavigation"></td>
		</tr>
		<tr>
			<td colspan="4" style="background-color: #6699CC;" height="10px;"></td>
		</tr>
		<tr>
			<td colspan="4" width="70%" valign="top">
<!---BEGIN EDITABLE REGION--->
<script type="text/javascript">
		document.title = "Naval Systems, Inc. - China Lake";
	</script>
<!---If this is a single news item, display the following information.  Otherwise see section below labeled "ALL NEWS ITEMS".--->
<table border="0" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td width="20%" valign="top" bgcolor="#6699CC" style="padding: 0 5px 0 5px;">
			<div id="mro_menu">
				<ul>
					<li style="border-bottom: 1px solid #e2e2e2;">
						<div style="padding: 5px 0px 8px 10px;" class="jacksonville_contact">
							<strong>Site Lead</strong>Karl Hunnicutt<br/>
                                                         <strong>Facility Manager</strong><br/>Don Johnson<br/><br/>
                                                        8291 Forshee Drive, Unit 5<br/>
Jacksonville, FL 32219<br/>
Phone: (904) 248-4300<br/>
Fax: (904) 328-6924
						</div>
					</li>
				</ul>
			</div>
			<div align="center">
				<img src="/images/thumbs/ChinaLake_thumb.gif" width="140" /><br/><br/>
				<img src="/images/thumbs/H1_Flight_thumb.jpg" width="130" />
			</div>
			<br/><br/>
		</td>
		<td valign="top" style="padding-left:5px;">
			<h1>Jacksonville</h1>
			<h3>Logistics Services</h3>
						<ul style="padding-left:15px;">
							<li>Fleet Support Team (FST) Integrated Product Support (IPS)/Integrated Logistics Support (ILS) services across the spectrum of IPS/ILS elements</li>
							<li>Fleet Readiness Center, Southeast (FRC-SE) production line expediting and other support services</li>
							<li>Kitting services for aircraft and other Department of Defense (DoD) weapon systems modifications and repair</li>
							<li>ISO 9001/AS 9100 certified warehousing and supply chain management facility - <strong><a href="/views/documents/ProcurementQualityFlowDownClauses.pdf" target="_blank">Procurement Quality Clauses</a></strong></li>
							<li>International Traffic in Arms Regulations (ITAR)-compliant Packaging Handling Storage & Transportation (PHS&T) for Foreign Military Sales (FMS) customers</li>
							<li>Repair of Repairables (ROR) management, to include demand forecasting, PHS&T and Public-Private Partnership (PPP) with FRC-SE on touch labor for DoD “core” depot-level maintenance under Title 10, U.S. Code</li>
						</ul>
		</td>
	</tr>
</table>

			</td>
		</tr>
		<tr>
			<td colspan="4" class="footer2">
				<div id="footer_address">
						Naval Systems, Inc.<br>
						21491 Great Mills Road, Suite 100<br>
						Lexington Park, MD 20653<br>
						Phone: (301) 737-1911<br>
						Fax: (301) 737-1940					
					</div>
				
				
				<div id="footer_copyright">
					&copy; 2014 Naval Systems, Inc.
				</div>
			</td>
		</tr>
	</table>
	<br/>
	<span id="newFooter"></span>
</body>
</html>
