<div>
	<ul class="jd_menu">
		<li><a href="/">Home</a></li>
		<li>
			<a href="/views/about.html">About Us</a>
		</li>
		<li>
			<a href="/views/capabilities.html">Capabilities</a>
		</li>
		<li><a href="/views/clients.html">Clients/Partners</a></li>
		<li><a href="/views/china/index.html">China Lake</a></li>
                <li><a href="/views/jacksonville.html">Jacksonville</a></li>
		<li><a href="/views/contractVehicles/seaport.html">Contract Vehicles</a></li>
		<li><a href="/views/careerOpps.html">Employment</a></li>
		<li><a href="/views/contact.html">Contact Us</a></li>
	</ul>	
</div>
