<div class="footer">
	<a href="/">Home</a> | 
	<a href="/views/about.html">About Us</a> |
	<a href="/views/capabilities.html">Capabilities</a> |
	<a href="/views/clients.html">Clients/Partners</a> |
	<a href="/views/china/index.html">China Lake</a> |
	<a href="http://www.ruag.com/self-protection/Self_Protection/MISSIM">RUAG MISSIM</a> |
	<a href="http://nsicalibration.com/" target="_blank">Calibration Services</a> |
	<a href="/views/contractVehicles/index.html">Contract Vehicles</a> |
	<a href="/views/careerOpps.html">Employment</a> |
	<a href="/views/contact.html">Contact Us</a>
	<br/>
    <a href="https://www.facebook.com/ed.rule.31?fref=ts">Facebook</a> |
    <a href="http://www.linkedin.com/pub/dan-seifert/37/762/b45">LinkedIN</a>
</div>